*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: black;
	color: white;
	padding: 15px; 
    }
    li,h1,ul{
    	display: inline;
    }
    ul{
    	margin-left: 60%; 
    }
    li{
    	color: gray;
    	cursor: pointer;
    }
    li:hover{
    	color: white;
    }
    input{
    	width:60%;
    	padding:20px;

    }
    .search{
    	padding: 50px;
    	text-align: center;
    }
    .one{
    	border:black;
    	border-width: 2px;
    	border-style: solid;
    	display: inline-block;
    }
    .product{
    	text-align: center;
    	 }
    	 .one:hover{
    	 	background-color: black;
    	 	color: white;
    	 }
    	 .about{
    	 	text-align: center;
    	 	padding: 20px;
    	 }
p{
	padding: 20px;
}
.contact{
	background-color: black;
	color: white;
	text-align: center;
}



